.footer {
  background-color: #ffffff; /* White background */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px 0; /* Padding top and bottom */
  width: 100vw; /* Full width */
  /* z-index: 1000; Ensure it's above other content */
  position: bottom; /* Positioning */
  animation: fadeInUp 0.5s ease-in-out; /* Animation */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer .text-center,
.footer .text-md-left {
  color: #0f0b0b; /* General text color */
}

.footer .MuiTypography-body2 {
  color: #000000; /* Change this to your desired color for the body text */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.footer .MuiTypography-body2:hover {
  color: #ff6347; /* Hover color for text */
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer a {
  color: #333; /* Change this to your desired link color */
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.footer a:hover {
  color: #ff6347; /* Hover color for links */
}

.footer .MuiTextField-root {
  background-color: #ffffff; /* Text field background */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.footer .MuiTextField-root:focus-within {
  background-color: #e0e0e0; /* Background color on focus */
}

.footer .MuiButton-root {
  background-color: #ff6347; /* Button background */
  color: #ffffff; /* Button text color */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.footer .MuiButton-root:hover {
  background-color: #e5533d; /* Button hover background */
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0; /* Adjusted padding for smaller screens */
  }
}
