/* About Us Section (about.css) */
.about-section {
  width: 100%;
  background-image: url('/public/assets/aboutbg.jpg'); /* Adjust path as needed */
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 20px;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff; /* Light color for better readability against the background */
  background-color: rgba(0, 0, 0, 0.5); /* Opaque background */
  padding: 10px;
  border-radius: 5px;
}


.text-center h4 {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 700;
  color: #ccc;
}

.text-center h6 {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #ccc;
}

.text-center p {
  font-size: 1rem;
  color: #e9e9e9; /* Light color for better readability */
}

.animate__animated.animate__fadeInUp,
.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  .about-content h2 {
      font-size: 2rem;
  }

  .about-content p {
      font-size: 1rem;
  }

  .text-center h4 {
      font-size: 1.3rem;
  }

  .text-center h6 {
      font-size: 1rem;
  }

  .text-center p {
      font-size: 0.9rem;
  }
}
