/* hero.css */
.hero-container {
  position: relative;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.carousel-item {
  height: 100vh; /* Ensure carousel items take up full viewport height */
}

.carousel-item img {
  object-fit: cover; /* Ensure the image covers the entire container */
  width: 100%;
  height: 100vh; /* Ensure the image takes up full viewport height */
}

.carousel-caption {
  position: absolute;
  bottom: 10%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

.carousel-caption .highlight {
  color: #ff6347; /* Custom highlight color */
}

.btn-custom {
  background-color: #f90000; /* Custom button color */
  border-color: #f90000; /* Custom button border color */
  color: #ffffff; /* Button text color */
}

.btn-custom:hover {
  background-color: #d60000; /* Custom button hover color */
  border-color: #d60000; /* Custom button hover border color */
}

.offcanvas-start {
  background-color: #fff; /* Set the offcanvas background color to white */
  opacity: 1; /* Ensure the offcanvas is fully opaque */
}

.offcanvas-body {
  background-color: rgba(255, 255, 255, 1); /* Set the offcanvas body background to fully opaque white */
  color: #333; /* Set the text color */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .carousel-caption {
    bottom: 5%; /* Adjust as needed for smaller screens */
    padding: 5px 10px;
  }

  .carousel-caption h5 {
    font-size: 1.25rem;
  }

  .carousel-caption .highlight {
    font-size: 1rem;
  }

  .carousel-caption button {
    margin-top: 10px;
  }
}
