/* Import Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #1a1a1a, #333333, #4d4d4d, #666666);
}

/* Scrolling Background Effect */
@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Apply Scroll Background Animation (optional) */
body {
  animation: scrollBackground 20s linear infinite; /* Uncomment this if you want a scrolling background */
  background-size: 200%; /* Ensures the animation has enough space to scroll */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Horizontal scrollbar width */
  height: 12px; /* Vertical scrollbar height */
}

::-webkit-scrollbar-track {
  background: #333333; /* Dark gray track */
  border-radius: 10px; /* Rounded corners for track */
}

::-webkit-scrollbar-thumb {
  background-color: #666666; /* Lighter gray thumb */
  border-radius: 10px;
  border: 3px solid #222222; /* Border to match the background */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999; /* Lighter gray when hovering */
}

::-webkit-scrollbar-button {
  display: none; /* Remove arrows from scrollbar */
}
